@{
    ViewBag.Title = "Invalid";
}

<h2>Invalid UserName or Password</h2>

<body>
    <form action="~/Login/verify" method="post">
        <input type="text" placeholder="Username" required="required" name="us" />
        <input type="password" placeholder="Password" required="required" name="pass" />
        <input type="submit" value="Login" />
    </form>

</body>
